<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>


<ul class="list-group">
  <ul class="list-group-item">Emai:{{email}}</ul>
  <ul class="list-group-item">First Name:{{fname}}</ul>
  <ul class="list-group-item">Last Name:{{lname}}</ul>
  <ul class="list-group-item">Phone Number:{{phone_number}}</ul>
</ul>

<button type="button" class="btn btn-primary"><a href="{{url_for('logout')}}", style="color:white"> Logout</a></button>
</body>
</html>
